<h1>LOGIN</h1>

<form >
   <div style="display: flex; flex-direction: column;" >
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input #userEmailInputRef matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input type="password" #userPasswordInputRef matInput>
    </mat-form-field>

    <button mat-raised-button
            color="primary"
            (click)="onSubmit(userEmailInputRef, userPasswordInputRef)"
    >
      LogIn
    </button>
  </div>
      

  </form>
